version: '3'
services:
  apache:
    image: library/httpd
    restart: always
    ports:
        - "80:80"
    extra_hosts:
        - "example.dev:127.0.0.1"
        - "another-example.dev:127.0.0.1"
    volumes:
        - ./htdocs:/usr/local/apache2/htdocs
        - ./apache/httpd.conf:/usr/local/apache2/conf/httpd.conf
        - ./apache/httpd-vhosts.conf:/usr/local/apache2/conf/extra/httpd-vhosts.conf
  php:
    build: ./php
    ports:
        - "9000:9000"
    links:
        - mysql
    volumes:
        - ./htdocs:/usr/local/apache2/htdocs
  mysql:
    image: mysql
    restart: always
    volumes:
       - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: p4ssw0rd!
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    restart: always
    links:
      - mysql
    ports:
      - 8080:80
    environment:
      PMA_HOST: mysql
      PMA_USER: root
      PMA_PASSWORD: p4ssw0rd!
volumes:
  db_data:
